In [1]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd

In [2]:
set = {
    'Name' : ["Ashish", "Sneha", "Deepak", "Sakshi", "Kiran", "Rakesh", "Priya", "Bhawna", "Puneet", "Anil"],
    'Age'  : [23, 20, 21, 19, 21, 45, 23, 17, 34, 39],
    'Salary' : [4500, 5000, 8000, 6000, 8500, 12000, 3400, 6500, 7800, 9500],
    "City" : ["Goa", "Delhi", "Goa", "Punjab", "Punjab", "Dubai", "Mumbai", "Punjab", "Delhi", "Punjab"]
}
df = pd.DataFrame(set)
df.head()

     Name  Age  Salary    City
0  Ashish   23    4500     Goa
1   Sneha   20    5000   Delhi
2  Deepak   21    8000     Goa
3  Sakshi   19    6000  Punjab
4   Kiran   21    8500  Punjab

In [4]:
min_age = df["Age"].min()
max_age = df["Age"].max()
print("Min age: ", min_age)
print("Max age: ", max_age)

Min age:  17
Max age:  45

In [6]:
range = max_age - min_age
print("Range of the age: ", range)

Range of the age:  28